<ion-header class="decoracion-header ion-text-center">
  <ion-toolbar>
    <ion-title><h1>QR PAGE</h1></ion-title>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/index']">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenedor para centrar contenido -->
  <div class="center-content">
    <!-- Botón para escanear -->
    <ion-button class="submit" (click)="startScan()" expand="block" fill="clear" shape="round">
      SCAN
    </ion-button>

    <!-- Resultado del escaneo -->
    <ion-item class="result" *ngIf="scanResult" lines="none">
      <ion-label>Scan result:</ion-label>
      <div>{{ scanResult }}</div>
    </ion-item>
  </div>
</ion-content>
