<ion-header class="decoracion-header ion-text-center">
  <ion-toolbar>
    <ion-title><h1>QR SCANNER</h1></ion-title>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/index']">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content>
  
  <ion-button class="submit" (click)="startScan()" expand="block" fill="clear" shape="round">
    SCAN 
  </ion-button>
  
  <ion-item class="result" *ngIf="scanResult" lines="none">
    <ion-label>scan result:</ion-label>
    <p></p>
    <div>{{scanResult}}</div>
  </ion-item>
  
  </ion-content>